<p>
<%= comment.comment %> 
<%= comment.user_id %>
<% if @user == nil %>
	<strong>Anonymous</strong>
<% else %>
	<strong><%= @user.username %></strong>
<% end %>
</p>
<% if user_signed_in? && current_user.admin? %>
	<p>
		<%= link_to 'Delete Comment', [comment.park, comment], method: :delete,
	data: {confirm: "Are you sure?"} %>
	</p>
<% end %>
