<p>
" <%= comment.comment %> " said: 
<% @users.each do |user| %>
	<% if user.id == comment.user_id %>
		<strong class="username"><%= user.username %></strong>
	<% end %>
<% end %>
<% if user_signed_in? %>
	<% if current_user.id == comment.user_id || current_user.admin?%>
			<%= link_to 'Delete Comment', [comment.park, comment], method: :delete,
		data: {confirm: "Are you sure?"} %>
	<% end %>
<% end %>
</p>
 
