<h2>Equipment Index</h2>
<ul>
<% @equips.each do |item| %>
	<h5><%= link_to item.name, item %></h5>
	<p>
		<strong>Age Range:</strong> 
		<%= item.age_range %>
	</p>
	<p>
		<strong>Description:</strong> 
		<%= item.description %>
	</p>
<% end %>
</ul>

<%= link_to "Add Equipment", new_equipment_path %>