<h1>Play Time!</h1>



<h3>About</h3>

<p>This site aims to catalog parks and playgrounds with the hope of creating an index of parks out there so that users can better select child-appropriate places for play based on equipment, descriptions, ratings and comments.</p>

<h2>Help us grow the project!</h2>

<%= link_to 'Parks Index', controller: 'parks' %> 

